*{
  text-decoration: none;
}

.container{
  position: absolute;
  top: 20%;
  left: 12%;
  margin-top: -50px;
  margin-left: -50px;
}
@media only screen and (max-width: 768px){
  .container{
  position: absolute;
  top: 20%;
  left: 1%;
}
}